{% extends "base2.html" %}
{% block content %}
<a class="btn btn-success" href="{{ url_for('dstieccuoi') }}">Back</a>
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">        
        <h2 class="text-center bg-info p-2">Cập nhật tiệc</h2>           
        {% include '_messages.html' %}
        {% from "_formhelpers.html" import render_field %}
        <form action="" method="POST" enctype="multipart/form-data">            
            {{form.csrf_token}}            

            {{render_field(form.tenchure, class="form-control", placeholder="Chu re")}}
            {{render_field(form.tencodau, class="form-control", placeholder="Co dau")}}
            {{render_field(form.sdt, class="form-control", placeholder="SDT")}}                
            {{render_field(form.ngay, class="form-control", format='%d-%m-%y' , placeholder="Ngay")}}  
            
            <label for="sanh">Chọn Sảnh</label>            
            <select name="sanh" id="sanh" class="form-control" required>   
                               
                {% for s in sanh %}
                <option value="{{ s.sanh_id }}">{{s.tensanh}}</option>
                {% endfor %}
        
            </select>

            <label for="ban">Đặt bàn</label>
            

            <button type="submit" class="btn btn-outline-info mt-4">Cập nhật tiệc</button>
        </form>
    </div>
</div>

{% endblock %}
