{% extends "base2.html" %}
{% block content %}
<a class="btn btn-success" href="{{ url_for('home') }}">Back</a>
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">        
        <h2 class="text-center bg-info p-2">Thêm menu</h2>           
        
        {% from "_formhelpers.html" import render_field %}
        <form action="{{ url_for('insertmenu') }}" method="POST" enctype="multipart/form-data">
            {{form.csrf_token}}
            
            {{render_field(form.ten, class="form-control", placeholder="Add ten")}}            
            {{render_field(form.soluong, class="form-control", placeholder="Add so luong ")}}
            {{render_field(form.dongia, class="form-control", placeholder="Add don gia ")}}
            
            <button type="submit" class="btn btn-outline-info mt-4">Add</button>
        </form>
    </div>
</div>

{% endblock %}
