{% extends "base2.html" %}
{% block content %}

<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">        
        <h2 class="text-center bg-info p-2">Update menu</h2>           
        
        {% from "_formhelpers.html" import render_field %}
        <form action="#" method="POST" enctype="multipart/form-data">
            {{form.csrf_token}}
            
            {{render_field(form.ten, class="form-control", placeholder="Add ten")}}            
            {{render_field(form.soluong, class="form-control", placeholder="Add so luong ")}}
            {{render_field(form.dongia, class="form-control", placeholder="Add don gia ")}}

            <button type="submit" class="btn btn-outline-info mt-4">Update</button>
        </form>
    </div>
</div>

{% endblock %}
