{% extends 'base3.html' %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PBT</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}" type="text/css">

</head>
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="heading">
            <img src="static/pictures/PBT.PNG" class="fullwidth" alt="">
            <h1>TIỆC CƯỚI SIÊU ƯU ĐÃI TẠI PBT</h1>
            <div class="content margin-top-10">
                <p>Đối với các cặp đôi đang chuẩn bị cho đám cưới, ưu đãi giá trị tiệc cưới cùng với các dịch vụ đi kèm luôn được đặc biệt quan tâm. Ngoài sự phụ thuộc vào địa điểm tổ chức tiệc, ưu đãi cưới còn phụ thuộc vào ngày cưới mà cặp đôi lựa chọn. Mùa đặt tiệc cưới năm nay, PBT mang đến một chương trình siêu ưu đãi tiệc cưới với mức tài trợ lên tới 1 triệu đồng cho mỗi bàn tiệc.</p>
<p>Ngoài Siêu Ưu Đãi Cưới tặng 1 triệu đồng mỗi bàn tiệc, PBT còn có các quà tặng cho việc trang trí tiệc cưới, các gói lễ cưới và khâu chuẩn bị cho đám cưới. Với kinh nghiệm gần 10 năm tổ chức tiệc, cùng hệ thống sảnh tiệc theo 4 tông màu độc đáo, cơ sở vật chất hiện đại và đội ngũ nhân viên ưu tú, lựa chọn tiệc cưới tại PBT luôn là lựa chọn tốt nhất tại TP.HCM cho các cặp đôi.</p>
<p>Đặc biệt hơn, chỉ có ở Callary, khách hàng được lựa chọn và chuyển đổi chương trình ưu đãi phù hợp nhất với nhu cầu và sở thích, chẳng hạn như thay vì nhận ưu đãi về món tiệc, cặp đôi có thể thay thế bằng cách nâng cấp gói trang trí cưới trở nên đặc biệt hoành tráng hơn mà không cần phát sinh chi phí.</p>
<p>&nbsp;</p>
<p><strong>Chương trình ưu đãi chỉ áp dụng cho đặt chỗ trong tháng 05 đến 7/2020, nhanh tay để lại thông tin để được ưu tiên!</strong></p>
                </div>
            </div>
        </div>
    </div>






<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2><span>PBT</span></h2>
                    <p>TRUNG TÂM TIỆC CƯỚI VÀ HỘI NGHỊ PBT</p>
                </div>
            </div>



            <div class="col-md-3 col-sm-6">

            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2>Liên Hệ </h2>
                    <ul>Điện Thoại:0909000000</ul>
                    <ul>Email: abc@huflit.edu.vn</ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="margin-top-10"></div>
                <h2>Địa chỉ</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4553438122434!2d106.66500971526015!3d10.776394962139909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fddaecc2423%3A0x4863978f744589f2!2zxJHhuqFpIGjhu41jIG5nb-G6oWkgbmfhu68gdGluIGjhu41j!5e0!3m2!1svi!2s!4v1592383980274!5m2!1svi!2s"
                        width="100%" height="235" frameborder="0" style="border:0" allowfullscreen>
                </iframe>

            </div>

        </div>
    </div>
</div>

{% endblock %}