{% extends 'base3.html' %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PBT</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}" type="text/css">

</head>
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="heading">
            <h1>Liên hệ</h1>
            <div class="content margin-top-10">
                <div class="callary_form">
                    <div class="callary_form">
                        <form role="form" id="register-form" action="#" method="post" class="section-form">
                            <h4>Liên hệ</h4>
                            <div class="form-container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="fullname" placeholder="Họ Và Tên" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="email" placeholder="Email" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="phone" placeholder="SĐT" />
                                    </div>
                                    <div class="col-md-12 margin-top-20">
                                        <textarea name="content" placeholder="Nội dung" class="form-control"></textarea>
                                    </div>
                                    <div class="col-md-12 msg_form" style="font-weight:bold;margin-top: 5px;">&nbsp;</div>
                                    <div class="col-md-12 margin-top-20">
                                        <div class="flex align-center">
                                            <!-- justify-space-between -->
                                            <button class="btn btn-white btn-dk-page" type="button">
                                                Gửi
                                            </button>
                                            <input type="hidden" name="action" value="form_action" />
                                            <input type="hidden" name="page_id" id="page_id" value="5878" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <style>
                        .callary_form {
                            margin: 30px 0;
                        }

                            .callary_form .section-form .btn-white {
                                border: 1px solid #cccccc;
                                padding: 10px 20px;
                            }
                    </style>
                </div>
                <p><strong>PBT Wedding &amp; Events</strong></p>
                <p>Địa chỉ:828 Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí Minh, Việt Nam </p>
                <p>Điện thoại: 090000000</p>
                <p>Website: www.PBT.vn</p>
                <p>Email: pbt@huflit.edu.vn</p>
                
            </div>
        </div>
    </div>
</div>

<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2><span>PBT</span></h2>
                    <p>TRUNG TÂM TIỆC CƯỚI VÀ HỘI NGHỊ PBT</p>
                </div>
            </div>



            <div class="col-md-3 col-sm-6">

            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2>Liên Hệ </h2>
                    <ul>Điện Thoại:0909000000</ul>
                    <ul>Email: pbt@huflit.edu.vn</ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="margin-top-10"></div>
                <h2>Địa chỉ</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4553438122434!2d106.66500971526015!3d10.776394962139909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fddaecc2423%3A0x4863978f744589f2!2zxJHhuqFpIGjhu41jIG5nb-G6oWkgbmfhu68gdGluIGjhu41j!5e0!3m2!1svi!2s!4v1592383980274!5m2!1svi!2s"
                        width="100%" height="235" frameborder="0" style="border:0" allowfullscreen>
                </iframe>

            </div>

        </div>
    </div>
</div>

{% endblock %}