{% extends "base3.html" %}
{% block content %}
<a class="btn btn-success" href="{{ url_for('homecustomer') }}">Back</a>
<div class="container">
    {% include '_messages.html' %}
    <form style="float: right;" method="POST">
        <input type="text" autofocus="autofocus" name="search_string">
        <input type="submit" formaction="/searchmenucus" value="Search">
      </form>
    <table class="table tbale-sm">
        <thead>            
            <th>Tên</th>            
            <th>Số lượng</th>
            <th>Đơn giá</th>                     
        </thead>
        <tbody>
            {% for m in menu %}
            <tr>                             
                <td>{{ m.ten }}</td>                
                <td>{{ m.soluong }}</td>
                <td>{{ m.dongia }}</td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}