{% extends "base3.html" %}
{% block content %}
<a class="btn btn-success" href="{{ url_for('homecustomer') }}">Back</a>
<div class="container">
    {% include '_messages.html' %}
    <form   style="float: right;" method="POST">
        <input type="text" autofocus="autofocus" name="search_string">
        <input type="submit" formaction="/searchcustomer" value="Search">
    </form>
    <table class="table tbale-sm">
        <thead>            
            <th>Tên sảnh</th>
            <th>Loại sảnh</th>
            <th>Số lượng bàn tối đa</th>
            <th>Đơn giá bàn tối thiểu</th>
            <th>Ghi chú</th>            
        </thead>
        <tbody>
            {% for s in sanh %}
            <tr>                             
                <td>{{ s.tensanh }}</td>
                <td>{{ s.loaisanh }}</td>
                <td>{{ s.soluongban }}</td>
                <td>{{ s.dongiaban }}</td>
                <td>{{ s.ghichu }}</td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}