{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}        
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">LOGIN CUSTOMER</legend>
            <div class="form-group">
                {{ render_field(form.email, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.password, class="form-control") }}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <small class="text-muted ml-2">
            <a href="#">Forgot Password?</a>
        </small>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{{ url_for('register_customer') }}">Sign Up Now</a>
    </small>
</div>
{% endblock content %}