{% extends "base2.html" %}
{% block content %}
<a class="btn btn-success" href="{{ url_for('menu') }}">Back</a>
<div class="container">
    {% include '_messages.html' %}
    <form style="float: right;" method="POST">
      <input type="text" autofocus="autofocus" name="search_string">
      <input type="submit" formaction="/searchmenu" value="Search">
    </form>
    <table class="table tbale-sm">
        <thead>            
            <th>Tên </th>            
            <th>Số lượng</th>
            <th>Đơn giá</th>            
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for m in menu %}
            <tr>                                
                <td>{{ m.ten }}</td>                
                <td>{{ m.soluong }}</td>
                <td>{{ m.dongia }}</td>                
                <td> <a href="{{ url_for('updatemenu', id = m.menu_id) }}" class="btn btn-sm btn-info">Edit </a> </td>
                <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{m.menu_id}}">
                    Delete
                  </button></td>
            </tr>
<!--============= MODEL ===================-->
<div class="modal fade" id="exampleModal-{{ m.menu_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{m.ten }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-danger">Are you Sure that you want to delete  ({{ m.ten }})</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{url_for('deletemenu',id=m.menu_id)}}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>          
        </div>
      </div>
    </div>
  </div>
<!--==============MODEL ===================-->

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}