{% extends "base2.html" %}
{% block content %}
<a class="btn btn-success" href="{{ url_for('sanh') }}">Back</a>
<div class="container">
    {% include '_messages.html' %}
    <form style="float: right;" method="POST">
      <input type="text" autofocus="autofocus" name="search_string">
      <input type="submit" formaction="/search" value="Search">
    </form>
    <table class="table tbale-sm">
        <thead>            
            <th>Tên sảnh</th>
            <th>Loại sảnh</th>
            <th>Số lượng bàn tối đa</th>
            <th>Đơn giá bàn tối thiểu</th>
            <th>Ghi chú</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for s in sanh %}
            <tr>                                
                <td>{{ s.tensanh }}</td>
                <td>{{ s.loaisanh }}</td>
                <td>{{ s.soluongbantoida }}</td>
                <td>{{ s.dongiaban }}</td>
                <td>{{ s.ghichu }}</td>
                <td> <a href="{{ url_for('updatesanh', id = s.sanh_id) }}" class="btn btn-sm btn-info">Edit </a> </td>
                <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{s.sanh_id}}">
                    Delete
                  </button></td>
            </tr>
<!--============= MODEL ===================-->
<div class="modal fade" id="exampleModal-{{ s.sanh_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{s.tensanh }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-danger">Are you Sure that you want to delete  ({{ s.tensanh }})</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{url_for('deletesanh',id=s.sanh_id)}}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>          
        </div>
      </div>
    </div>
  </div>
<!--==============MODEL ===================-->

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}