{% extends "base2.html" %}
{% block content %}
<a class="btn btn-success" href="{{ url_for('home') }}">Back</a>
<div class="container">
    {% include '_messages.html' %}
    <form   style="float: right;" method="POST">
      <input type="text" autofocus="autofocus" name="search_string">
      <input type="submit" formaction="/searchtieccuoi" value="Search">
  </form>
    <table class="table table-sm"> 
        <thead>
            <th>Tên chú rể</th>
            <th>Tên cô dâu</th>
            <th>Số điện thoại</th>
            <th>Số lượng bàn</th>
            <th>Ngày</th>
            <th>Sảnh</th>            
        </thead>
        <tbody>
            {% for d in tiec %}
            <tr>
                <td>{{ d.tenchure }}</td>
                <td>{{ d.tencodau }}</td>
                <td>{{ d.sdt }}</td>
                <td>{{ d.sanh.soluongbantoida }}</td>
                <td>{{ d.ngay }}</td>
                <td>{{ d.sanh.tensanh }}</td>
                <td> <a href="{{ url_for('updatetiec', id = d.tiec_id) }}" class="btn btn-sm btn-info">Edit </a> </td>
                <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{d.tiec_id}}">
                    Delete
                  </button></td>
            </tr>
<!--============= MODEL ===================-->
<div class="modal fade" id="exampleModal-{{ d.tiec_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{d.tenchure }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-danger">Are you Sure that you want to delete  ({{ d.tenchure }})</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{url_for('deletetiec',id=d.tiec_id)}}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>          
        </div>
      </div>
    </div>
  </div>
<!--==============MODEL ===================-->
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}