{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{form.csrf_token}}
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">REGISTER ADMIN</legend>
            <div class="form-group">            
                {{ render_field(form.username, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.email, class="form-control") }}
            </div>
            <div class="form-group">                
                {{ render_field(form.password, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.confirm, class="form-control") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">LogIn</a>
    </small>
</div>
{% endblock content %}