{% extends "base2.html" %}
{% block content %}
<a class="btn btn-success" href="{{ url_for('home') }}">Back</a>
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">        
        <h2 class="text-center bg-info p-2">Thêm sảnh</h2>           
        
        {% from "_formhelpers.html" import render_field %}
        <form action="{{ url_for('insertsanh') }}" method="POST" enctype="multipart/form-data">
            {{form.csrf_token}}
            
            {{render_field(form.tensanh, class="form-control", placeholder="Add ten sanh")}}
            {{render_field(form.loaisanh, class="form-control", placeholder="Add loai sanh")}}
            {{render_field(form.soluongbantoida, class="form-control", placeholder="Add so luong ban")}}
            {{render_field(form.dongiaban, class="form-control", placeholder="Add don gia ban")}}
            {{render_field(form.ghichu, class="form-control", placeholder="Add ghi chu")}}

            <button type="submit" class="btn btn-outline-info mt-4">Add</button>
        </form>
    </div>
</div>

{% endblock %}
